body {
  background: linear-gradient(
    to right,
    #ef32d9,
    #89fffd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #666;
  font-family: 'inconsolata', 'monospace';
}

h1 {
  background-color: #2980b9;
  color: white;
  font-size: 25px;
  font-weight: normal;
  margin: 0;
  padding: 5px 20px;
  text-transform: uppercase;
}

#container {
  background-color: #f7f7f7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  margin: 100px auto;
  width: 400px;
}

.done {
  color: #ccc;
  text-decoration: line-through;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
}

li:nth-child(2n) {
  background-color: #f7f7f7;
}

input[type='text'] {
  background-color: #f7f7f7;
  border: 3px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: #2980b9;
  display: none;
  font-size: 18px;
  width: 100%;
  padding: 13px 13px 13px 20px;
}

input[type='text']:focus {
  background-color: white;
  border: 3px solid #2980b9;
}

.fa-plus {
  float: right;
}

.fa-minus {
  float: right;
}

span {
  background-color: #e74e3c;
  color: white;
  display: inline-block;
  height: 40px;
  margin-right: 20px;
  opacity: 0;
  text-align: center;
  width: 0px;
}

li:hover > span {
  opacity: 1;
  transition: all 0.25s linear;
  width: 40px;
}
